{% extends 'flatpages/default.html' %}
{% load cache %}

{% block head %}
    {% cache 30 notification_head %}
    <meta charset="UTF-8">
    <title>Уведомление</title>
    {% endcache %}
{% endblock %}

{% block content %}
    <h2>Здравствуйте! Новые статьи за последнюю неделю</h2>
    <ul>
        {% for post in posts %}
            <li>
                <p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}